{% extends "base.html" %}
{% block content %}
<form method="post" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>{{ form.username.label }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label }}</td>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <td>{{ form.remember.label }}</td>
            <td>{{ form.remember }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input class="btn" type="submit" value="{{ _('Login') }}"></td>
        </tr>
    </table>
</form>
{% endblock %}
