{% extends "base.html" %}
{% block content %}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ url_for('message_index') }}">{{ _('Messages') }}</a>
            <a href="{{ url_for('message_send') }}" class="btn btn-primary">{{ _('Send Message') }}</a>
        </div>
    </div>
    {% if conversations %}
        <ul class="nav nav-tabs nav-stacked">
        {% for conversation in conversations %}
            <li><a href="{{ url_for('message_conversation', id=conversation.key.id()) }}">{{ conversation.readable_subject }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info">
        Sorry, no conversations to show here.
        </div>
    {% endif %}
{% endblock %}
