<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url_for('index') }}">Gridlock Exchange</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li><a href="{{ url_for('item_index') }}">Items</a></li>
                </ul>
                <form class="navbar-search pull-left" method="get" action="{{ url_for('item_index') }}">
                    <input type="text" name="q" class="search-query span2" placeholder="Search" autocomplete="off"
                            {% if 'q' in request.args %}
                            value="{{ request.args['q'] }}"
                            {% endif %}
                            >
                </form>
                {% if logout_form %}
                    <form method="post" action="{{ url_for('logout') }}" class="navbar-form pull-right">
                        {{ logout_form.csrf_token }}
                        <input type="submit" class="btn btn-inverse" value="Logout">
                    </form>
                {% endif %}
                <p class="navbar-text pull-right">
                    {% if current_user.is_authenticated() %}
                    Logged in as <a href="#" class="navbar-link">{{ current_user.username }}</a>
                    {% endif %}
                </p>
               {% if not current_user.is_authenticated() %}
                <ul class="nav pull-right">
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
