<h1><a href="{{ user.url() }}">{{ user.username }}</a></h1>
{% if user.editable_by(current_user) %}
    <form method="POST" action="{{ url_for('user_deactivate', id=user.get_id(), username=user.username) }}"
            style="display: inline">
        {{ user_deactivate_form.csrf_token }}
        {% if user.active %}
            <input type="submit" class="btn btn-warning" value="{{ _('Deactivate') }}">
        {% else %}
            <input type="submit" class="btn btn-success" value="{{ _('Activate') }}">
        {% endif %}
    </form>
    <a class="btn btn-danger" href="{{ url_for('user_delete', id=user.get_id(), username=user.username) }}">{{ _('Delete') }}</a>
{% endif %}
