<form class="form-horizontal" method="post" action="{{ action }}">
    {{ form.csrf_token }}
    {% for field in form %}
        {% if field.type == "CSRFTokenField" or field.type == "HiddenField" %}
            {{ field }}
        {% else %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                {{ field.label(class="control-label") }}
                <div class="controls">
                    {{ field }}
                    {% if field.errors %}
                        <span class="help-inline">{{ field.errors|join(', ') }}</span>
                    {% elif field.description %}
                        <span class="help-inline">{{ field.description }}</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-actions">
        {% if crud_method == "create" %}
            <input class="btn btn-primary" type="submit" value="Create Item">
            <a class="btn" href="{{ url_for('item_index') }}">Cancel</a>
        {% elif crud_method == "update" %}
            <input class="btn btn-primary" type="submit" value="Update Item">
            <a class="btn" href="{{ url_for('item', id=id, slug=slug) }}">Cancel</a>
        {% endif %}
    </div>
</form>
