{% extends "base.html" %}
{% block content %}
    {% for item in items %}
        {% include "item/item.fragment.html" %}
    {% else %}
        <div class="alert alert-info">
            {% if 'q' in request.args %}
                <p>Sorry, but no items were found matching your query:</p>
                <pre>{{ request.args['q'] }}</pre>
            {% else %}
                <p>Sorry, nothing to show here.</p>
            {% endif %}
        </div>
    {% endfor %}
    <ul class="pager">
        <li>
            {% if has_more %}
                {%  if 'q' in request.args %}
                    <a class="load-more" href="{{ url_for('item_index', q=request.args['q'], c=cursor) }}">{{ _('Load More') }}</a>
                {% else %}
                    <a class="load-more" href="{{ url_for('item_index', c=cursor) }}">{{ _('Load More') }}</a>
                {% endif %}
            {% endif %}
        </li>
    </ul>
{% endblock %}
