<article>
    <heading>
        <h1><a href="{{ item.url() }}">{{ item.title }}</a></h1>
    </heading>
    <span class="badge badge-inverse">{{ item.price }}</span>
    <p>{{ item.description }}</p>
    <div class="form-actions">
        <a href="{{ item.url() }}" class="btn">Details</a>
        {% if item.editable_by(current_user) %}
            <a class="btn btn-primary" href="{{ url_for('item_update', id=item.key.id(), slug=item.slug) }}">Update</a>
            <form method="post" action="{{ url_for('item_delete', id=item.key.id(), slug=item.slug) }}" style="display: inline">
                {{ item_delete_form.csrf_token }}
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        {% endif %}
    </div>
</article>
