<article itemscope itemtype="http://schema.org/Product">
    <heading>
        <h1><a href="{{ item.url() }}" itemprop="name">{{ item.title }}</a></h1>
    </heading>
    {% if item.image %}
        <div>
        <img src="{{ url_for('blob', key=item.image) }}" width="400em" height="400em">
        </div>
    {% endif %}
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <span class="badge badge-inverse" itemprop="price">{{ item.price }}</span>
    </span>
    <span class="badge badge-inverse">Active: {{ item.active }}</span>
    <p itemprop="description">{{ item.description_rendered|safe }}</p>
    <div class="form-actions">
        <a href="{{ item.url() }}" class="btn">{{ _('Details') }}</a>
        {% if item.editable_by(current_user) %}
            <a class="btn btn-primary" href="{{ url_for('item_update', id=item.key.id(), slug=item.slug) }}">{{ _('Update') }}</a>
            <form method="post" action="{{ url_for('item_delete', id=item.key.id(), slug=item.slug) }}" style="display: inline">
                {{ item_delete_form.csrf_token }}
                <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
            </form>
        {% endif %}
        <div class="pull-right">
            <div class="g-plus" data-action="share" data-annotation="none" data-height="28" data-href="{{ item.url() }}"></div>
        </div>
    </div>
</article>
